.normal-button {
  font-weight: 700;
  font-family: inherit;
  font-size: 16px;

  color: var(--white);
  background-color: var(--main);

  border-radius: 8px;
  padding: 12px;
  min-width: 100px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

.normal-button:disabled {
  background-color: var(--text-light);
  cursor: default;
}
